#headerPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 65px;

  .mask {
    background: #060e18;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 12px 8px #215595 inset;
  }

  .el-menu.el-menu--horizontal {
    height: 100%;
    border-bottom: 0;
  }

  .el-menu--horizontal > .el-menu-item {
    min-width: 100px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-bottom: 0 !important;

    &.menu-tabs {
      margin: 10px 0;
    }

    a {
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#70cbff));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 18px;
    }

    &:hover {
      background-color: transparent !important;
    }

    &.is-active {
      border-bottom: 0 !important;
      background: url("../../../static/img/head-btn.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }

  .el-menu--horizontal .el-submenu .el-submenu__title {
    border: 0;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#70cbff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;

    i {
      color: #fff;
      background-image: none;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: #fff;
    }
  }

  .logo-title {
    width: 35%;
    //background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#3e89fd));
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    position: relative;
    text-align: center;

    .logo-bg {
      width: 100%;
      background-image: url("../../../static/img/logo-bg.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: -5px;
      bottom: -25px;
    }

    .logo-word {
      font-family: htfont;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#70cbff));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px;
      letter-spacing: 4px;
      display: inline-block;
      margin-top: 8px;
    }

    &:focus {
      border: 0;
      outline: none;
    }
  }
}
div.el-menu--horizontal{
  background: #060e18;
  border: 1px solid #134fa7;
  -moz-box-shadow:0 0 12px 8px #215595 inset;               /* For Firefox3.6+ */
  -webkit-box-shadow:0 0 12px 8px #215595 inset;            /* For Chrome5+, Safari5+ */
  box-shadow:0 0 12px 8px #215595 inset;
  .el-menu--collapse .el-menu .el-submenu, .el-menu--popup{
    min-width: 120px;
    text-align: center;
  }
  .el-menu-item{
    font-size: 16px;
  }
  .el-menu-item:focus, .el-menu-item:hover,.el-menu-item.is-active{
    background: #3e91e4 !important;
  }
  .el-menu .el-menu-item,.el-menu .el-submenu__title{
    padding: 12px 0;
    height: auto;
    line-height: normal;
  }
}