@import "base";
.memberTj{
  height: 100%;
  .el-main{
    height: 100%;
  }
  .el-col{
    height: 47%;
    margin-bottom: 1.5%;
    padding: 0 10px;
  }
  .aside {
    height: 100%;
    background: #20293a;
    @include border-shadow;
    overflow: hidden;
    .fwtj{
      li{
        width: 30%;
        text-align: center;
        div{
          width: 100%;
        }
        h4{
          font-size: 18px;
          font-weight: normal;
        }
        p{
          font-size: 14px;
          margin-top:10px;
        }
        .houseIcon{
          font-size: 46px;
          &.icon-village{
            color: #0faf95;
          }
          &.icon-building{
            color: #65c750;
          }
          &.icon-fw{
            color: #1c93d5;
          }
        }

      }
    }
    .charts{
      height: 90%;
      width: 100%;
    }
  }
}
